.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #282c34;
    color: #ffffff;
    .title{
        &:hover {
            text-decoration: underline;
        }
    }
}